{{- $org := printf "%s#organization" site.BaseURL -}}
{{- $web := printf "%s#website" site.BaseURL -}}
{{- $app := printf "%s#software" site.BaseURL -}}
{{- /* A logo, not the social card: Google's guidance wants a square raster. */ -}}
{{- $logo := "/android-chrome-512x512.png" | absURL -}}
{{- $graph := slice
  (dict
    "@type" "Organization"
    "@id" $org
    "name" site.Params.author.name
    "url" site.BaseURL
    "logo" $logo
    "sameAs" (slice site.Params.org site.Params.github site.Params.docs)
  )
  (dict
    "@type" "WebSite"
    "@id" $web
    "url" site.BaseURL
    "name" site.Title
    "description" site.Params.description
    "publisher" (dict "@id" $org)
    "inLanguage" site.Language.Locale
  )
  (dict
    "@type" "SoftwareApplication"
    "@id" $app
    "name" site.Title
    "url" site.BaseURL
    "applicationCategory" "DeveloperApplication"
    "operatingSystem" "macOS, Linux, Windows"
    "license" "https://www.apache.org/licenses/LICENSE-2.0"
    "softwareVersion" site.Params.version
    "downloadUrl" (printf "%s/releases" site.Params.github)
    "sameAs" (slice site.Params.github)
    "isAccessibleForFree" true
    "offers" (dict "@type" "Offer" "price" "0" "priceCurrency" "USD")
    "publisher" (dict "@id" $org)
    "description" "Open-source coding agent orchestrator that turns issue tracker tickets into autonomous agent sessions."
  )
-}}

{{- $ld := dict "@context" "https://schema.org" "@graph" $graph | jsonify -}}
<script type="application/ld+json">{{ $ld | safeJS }}</script>
