<div class="table-wrap" tabindex="0">
  <table
    {{- range $k, $v := .Attributes }}
      {{- if $v }}{{ printf " %s=%q" $k $v | safeHTMLAttr }}{{ end }}
    {{- end }}>
    {{- with .THead }}
    <thead>
      {{- range . }}
      <tr>
        {{- range . }}
        <th scope="col"
          {{- with .Alignment }}{{ printf " style=%q" (printf "text-align: %s" .) | safeHTMLAttr }}{{ end -}}
        >{{ .Text }}</th>
        {{- end }}
      </tr>
      {{- end }}
    </thead>
    {{- end }}
    {{- with .TBody }}
    <tbody>
      {{- range . }}
      <tr>
        {{- range . }}
        <td
          {{- with .Alignment }}{{ printf " style=%q" (printf "text-align: %s" .) | safeHTMLAttr }}{{ end -}}
        >{{ .Text }}</td>
        {{- end }}
      </tr>
      {{- end }}
    </tbody>
    {{- end }}
  </table>
</div>
